{% extends "authenticated/authenticated_base.html" %}

{% block app_content %}

<div class="dashboard-container">
    <h1 class="page-title">Your Subjects</h1>

    <div class="subject-list-container">
        {% if Subjects %}
            {% for Subject in Subjects %}
            <a class="subject-card">
                <div class="subject-info">
                    <h2 class="subject-name">{{ Subject.SubjectName }}</h2>
                    <span class="exam-board-tag">{{ Subject.ExamBoard }}</span>
                </div>

                <div class="last-reviewed">
                    <span class="label">Last Reviewed:</span>
                    <span class="time">{{ Subject.LastReviewed }}</span>
                </div>
            </a>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

