body {
    min-height: 100vh;
    background: radial-gradient(circle at top right,
        #9b052cff,
        #502b5fff
    );
    margin: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@font-face {
    font-family: 'Kalam-Bold';
    font-weight: bold;
    font-style: normal;
    src: url('Kalam-Bold.ttf') format('truetype')
}

.title-box {
    text-align: center;
    padding: 20px;
    
    position: relative;
    top: -40px;
}

.main-title {
    font-size: 144px;
    color: white;

    margin-bottom: 0px;
    font-family: 'Kalam-Bold', cursive, sans-serif;
}

.sub-title {
    font-size: 36px;
    color: white;

    margin-top: -60px;
    margin-bottom: 40px;

    font-family: 'Kalam-Bold', cursive, sans-serif;
}

.buttons-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    /* gap: 50px;     */
    /* margin-top: 30px; */
}

.primary-button {
    display: inline-block;
    width: 150px;
    padding: 12px 25px;

    background-color: #9b052cff;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color:#502b5f;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}