@font-face {
    font-family: 'Royale';
    src: url('font.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

    background: radial-gradient(circle at top right,
        #9b052cff,
        #502b5fff
    );
}

h1 {
    font-family: 'Royale';
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-family: 'Royale';
    font-size: 2rem;
    margin-bottom: 40px;
}

/* --- Reusable Buttons --- */
.btn-group {
    display: flex;
    gap: 30px;
}

.btn-stack {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 160px;
}

.btn {
    background-color: #9b052cff;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    transition: transform 0.2s, background 0.2s;
}

.btn:hover {
    background-color: #700a23;
    transform: scale(1.05);
}

/* --- Login Card Elements --- */
.login-card {
    background-color: #e1ca9bff;
    width: 420px;
    padding: 50px 40px;
    border-radius: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.input-field {
    width: 100%;
    background-color: #9b052cff;
    border: none;
    border-radius: 12px;
    padding: 15px 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.2rem;
    font-family: inherit;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.85);
}

/* Small adjustments for the header on the login page */
.login-header h1 {
    font-size: 3.5rem;
}

.main-container
{
    display: flex;
    width: 100%;
    max-width: 1000px; /* Limits how far apart they spread on huge monitors */
    justify-content: space-around; /* Distributes items with space around them */
    align-items: center; /* Vertically centers the text with the card */
    padding: 0 50px;
}