body {
    background: radial-gradient(circle at top right,
        #9b052cff,
        #502b5fff
    );
    min-height: 100vh;
}

@font-face {
    font-family: 'Kalam-Bold';
    font-weight: bold;
    font-style: normal;
    src: url('Kalam-Bold.ttf') format('truetype')
}

#ProjectTitle {
    font-family: 'Kalam-Bold', cursive, sans-serif;
    font-size: 144px;
    color: #FFFFFF
}