body {
    min-height: 100vh;
    background: radial-gradient(circle at top right,
        #9b052cff,
        #502b5fff
    );
    margin: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@font-face {
    font-family: 'Kalam-Bold';
    font-weight: bold;
    font-style: normal;
    src: url('font.ttf') format('truetype')
}

.title-box {
    text-align: center;
    padding: 20px;
    
    position: relative;
    top: -40px;
}

.main-title {
    font-size: 144px;
    color: white;

    margin-bottom: 0px;
    font-family: 'Kalam-Bold', cursive, sans-serif;
}

.sub-title {
    font-size: 36px;
    color: white;

    margin-top: -60px;
    margin-bottom: 40px;

    font-family: 'Kalam-Bold', cursive, sans-serif;
}