{% extends "base.html" %}

{% block vars %}
<script>
    const ClientResponse = {
        SuccessMessage: "{{ success_message | default("") }}"
    }
</script>
{% endblock %}

{% block title %}Login - Revision Royale{% endblock %}
{% block content %}
<div class="main-container">
    <header class="login-header">
        <h1>Revision Royale</h1>
        <p class="subtitle">Login Page</p>
    </header>

    <form method="POST" action="/login" class="login-card">
        <input type="text" class="input-field" name="username" placeholder="Username" required>
        <input type="password" class="input-field" name="password" placeholder="Password" required>

        <div class="btn-stack">
            <button class="btn" type="submit">Log In</button>
            <a class="btn" href="/register">Register</a>
        </div>
    </form>
</div>
{% endblock %}