{% extends "base.html" %}
{% block title %}Startup - Revision Royale{% endblock %}
{% block content %}
<div class="centered-container">
    <div class="title-box">
        <h1 class="main-title">Revision Royale</h1>
        <p class="sub-title">A study app.</p>

        <div class="buttons-container">
            <a href="{{ url_for('LoginPage') }}" class="primary-button">Log in</a>
            <a href="{{ url_for('RegisterPage') }}" class="primary-button">Register</a>
        </div>
    </div>
</div>
{% endblock %}